h1, h2{
    text-align: center;
}

.primary-banner {
    background-color: rgb(35, 4, 89);
    color: white;
    border-radius:5px;
    border: 2px solid rgb(35, 4, 89);
    margin: 10px 30px;
    letter-spacing: 1px;
}