<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Resolution Modifiers
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item>
          <p matListItemTitle aria-label="@optional()">optional decorator</p>
  
          <p matListItemTitle aria-label="@Self()">Self</p>
  
          <p matListItemTitle>SkipSelf</p>
  
          <p matListItemTitle>Host</p>
        </mat-list-item>
      </mat-list>
      <app-parent></app-parent>
    </mat-expansion-panel>
  </mat-accordion>
  